body {
    font-family: Arial, sans-serif;
    margin: 30px auto;
    max-width: 1000px;
    line-height: 1.4;
}

h1 {
    text-align: center;
}

a:link, a:visited {
    color: #1da4cc;
}

tr, td, th {
    border: 1px solid black;
    padding: 0.3em;
}

table {
    width: 100%;
    border-collapse: collapse;
}
